@import url("https://fonts.googleapis.com/css2?family=Elsie:wght@400;900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

:root {
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  background: #fffcfa;

  color: #573a2e;
}

body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
  height: auto;
}

.list {
  list-style: none;
}

button,
a {
  cursor: pointer;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button:hover {
  scale: 120%;
}

.header {
  position: fixed;
  width: 100%;
  z-index: 5;
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
  background-color: transparent;
}

.header.is-open .header__background {
  left: 0;
}
.header__button-wrapper {
  margin-left: auto;
}
.header__icon {
  display: none;
}

.header__icon-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: transparent;
  border: none;
  border-radius: 50%;
}

.header__icon--menu {
  display: block;
}

.header__icon-button.is-open .header__icon--menu {
  display: none;
}

.header__icon-button.is-open .header__icon--close {
  display: block;
}

.header {
  height: 66px;
  display: flex;
}

.header {
  position: fixed;
  width: 100%;
  z-index: 5;
  background: transparent;
  background: #a37764;
  height: 80px;
}
.header__background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 100%;

  z-index: -1;
  -webkit-transition: left 0.3s ease;
  transition: left 0.3s ease;
  background: #a37764;
}
.header.is-open .header__background {
  left: 0;
}
.header__button-wrapper {
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__icon {
  display: none;
}
.header__icon-button {
  display: flex;
  background-color: transparent;

  border: none;
  border-radius: 50%;
}

.header__icon--menu {
  display: block;
}

.header__icon-button.is-open .header__icon--menu {
  display: none;
}

.header__icon-button.is-open .header__icon--close {
  display: block;
}

.navigation {
  display: -ms-flexbox;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 20px 16px;
  position: relative;
}

.navigation__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: start;
  gap: 20px;
  padding: 23px 40px;
  top: 130px;
  position: absolute;
  top: 100%;
  right: -100%;
  width: 100%;
  height: 300px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  z-index: 999;

  background: #a37764;
}
.navigation__list.is-open {
  right: 0;
}
.navigation__link {
  position: relative;
  text-decoration: none;
  transition: all 0.1s ease;

  font-family: Montserrat;
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;

  color: #f6f2f2;
}
.navigation__link:hover,
.navigation__link:focus {
  color: #573a2e;
}
.header.is-open {
  background-color: transparent;
}
.navigation-img {
  display: none;
}
@media screen and (min-width: 1200px) {
  .navigation-img {
    display: flex;
    margin-right: 534px;
  }
  .header {
    height: 73px;
    padding: 15px 0px 14px;

    width: 100%;

    height: 60px;
    padding: 10px 100px;
    display: flex;
    align-items: center;
    justify-content: center;

    z-index: 1000;
  }
  .navigation__item-desk {
    display: none;
  }
  .header__icon-button {
    display: none;
  }
  .header__button-wrapper {
    width: auto;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
  }
  .navigation {
    display: flex;

    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .navigation__list {
    background-color: transparent;
    flex-direction: row;

    position: static;
    width: auto;
    padding-block: 0;
    flex: 1;

    height: 0px;
    display: flex;
    justify-content: center;
    align-items: center;

    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: center;
    position: static;
    width: 1440px;
    margin: auto;

    padding-block: 0;
    flex: 1;
    gap: 60px;

    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: center;
  }
  .navigation__link {
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }
  .header__icon-home-img {
    display: none;
  }
}

.home {
  width: 375px;
  height: 812px;

  gap: 0px;
  opacity: 0px;

  padding: 96px 16px 0px;
  margin: auto;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/image/home/Hero.png");
}
.home__wrapper {
  display: flex;
  flex-direction: column;
  align-items: start;
}
.home-title {
  font-family: Elsie;
  font-size: 64px;
  font-weight: 400;
  line-height: 64px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
.home-text {
  padding-top: 24px;
  font-family: Montserrat;
  font-size: 22px;
  font-weight: 500;
  line-height: 28.6px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #fffcfa;
}

.home-button {
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #fffcfa;
  width: 156px;
  height: 156px;
  border: none;
  padding: 46px 25px 46px 25px;
  border-radius: 78px;
  background: #573a2e;
  margin: 317px 0 0 187px;
}

@media screen and (min-width: 1200px) {
  .home {
    width: 1440px;
    height: 759px;

    gap: 0px;
    opacity: 0px;

    padding: 124px 160px 0px 736px;
    margin: auto;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url("/image/home/Hero\ \(1\).png");
  }
  .home__wrapper {
    display: flex;
    flex-direction: column;
    align-items: start;
  }
  .home-title {
    font-family: Elsie;
    font-size: 96px;
    font-weight: 400;
    line-height: 96px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }
  .home-text {
    padding-top: 40px;

    font-family: Montserrat;
    font-size: 24px;
    font-weight: 500;
    line-height: 31.2px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }

  .home-button {
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #573a2e;

    width: 156px;
    height: 156px;
    background: #573a2e;
    border: 1px solid #573a2e;
    padding: 46px 25px 46px 25px;
    border-radius: 78px;
    background: transparent;
    margin: 80px 0 0 387px;
  }
}

.about {
  padding: 64px 16px;
  width: 375px;

  margin: auto;
}
.about-title {
  font-family: Elsie;
  font-size: 32px;
  font-weight: 400;
  line-height: 41.6px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #573a2e;
}

.about-container-img {
  display: none;
}

.feature-list {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 343px;
  gap: 32px;
  padding-top: 37px;
}

.feature-top {
  display: flex;
  align-items: end;

  gap: 16px;
  margin-bottom: 8px;
}
.feature-text {
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
.feature-text-two {
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
.about-buttom {
  margin-top: 64px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.about-img {
  width: 164px;
  height: 12px;

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/image/about/Vector\ 11.png");
}
.about-button {
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #fffcfa;
  width: 156px;
  height: 156px;
  border: none;

  border-radius: 78px;
  background: #573a2e;

  padding: 46px 0px;
}
@media screen and (min-width: 1200px) {
  .about {
    padding: 80px 160px;
    width: 1440px;

    margin: auto;
  }
  .about-title {
    font-family: Elsie;
    font-size: 40px;
    font-weight: 400;
    line-height: 52px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }

  .about-container-top {
    display: flex;
    margin-top: 40px;
    gap: 129px;
  }
  .about-container-img {
    width: 608px;
    height: 1239px;
    margin-left: -160px;
    display: flex;
  }

  .feature-list {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 543px;
    gap: 32px;
    margin-top: 0px;
    padding: 0px;
  }

  .feature-top {
    display: flex;
    gap: 16px;
    margin-bottom: 8px;
  }
  .feature-text {
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }
  .feature-text-two {
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }
  .about-buttom {
    margin-top: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .about-img {
    width: 351px;
    height: 12px;

    background-image: url("/image/about/Vector\ 11\ \(1\).png");
  }
  .about-button {
    color: #573a2e;
    border: 1px solid #573a2e;
    background: transparent;
  }
}

.gallery {
  margin: auto;
  padding: 64px 16px;
  width: 375px;
}
.gallery-container {
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding-top: 37px;
}
.gallery__list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 40px;
  margin-top: 48px;
}
.gallery-container-text {
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
.gallery-container-text-img {
  width: 343px;
  height: 380px;

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/image/gallery/Massage\ Image\ Container.png");
}
.gallery-list {
  display: flex;
  flex-direction: column;
  padding-top: 64px;
  gap: 32px;
}
.gallery-item {
  width: 343px;
  height: 376px;
  padding: 32px 24px 32px 24px;
  border: 1px solid #a37764;
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
}

.gallery-item-title {
  font-family: Montserrat;
  font-size: 22px;
  font-weight: 500;
  line-height: 28.6px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.gallery-item-text {
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

@media screen and (min-width: 1200px) {
  .gallery {
    padding: 80px 0 80px 160px;
    width: 1440px;
  }
  .gallery-container {
    display: flex;
    flex-direction: row;
    gap: 128px;
    padding-top: 40px;
  }

  .gallery-container-text {
    width: 448px;
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }
  .gallery-container-text-img {
    width: 704px;
    height: 502px;

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url("/image/gallery/Massage\ Image\ Container\ \(1\).png");
  }
  .gallery-list {
    display: flex;
    flex-direction: row;
    padding-top: 160px;
    gap: 32px;
  }
  .gallery-item {
    width: 352px;
    height: 422px;
  }

  .gallery-item-title {
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 500;
    line-height: 31.2px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }

  .gallery-item-text {
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }
}
.blog {
  margin: auto;
  padding: 64px 16px 0;
  width: 375px;
}
.blog-img {
  width: 375px;
  height: 484px;
  margin-left: -16px;
  margin-top: 37px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/image/blog/Gallery\ Container.png");
}
@media screen and (min-width: 1200px) {
  .blog {
    margin: auto;
    padding: 80px 160px 0;
    width: 1440px;
  }
  .blog-img {
    width: 1440px;
    height: 701px;

    margin-left: -160px;
    margin-top: 40px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url("/image/blog/Gallery\ Container\ \(1\).png");
  }
}

.footer {
  background: #a37764;
  color: #fffcfa;
  padding: 32px 16px;
  display: flex;
  flex-direction: column;

  gap: 64px;
}
.footer-container-top {
  display: flex;
  flex-direction: column;

  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
.footer-container {
  display: flex;
  flex-direction: column;

  gap: 64px;
}
.footer-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;

  gap: 16px;
}
.footer-text {
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  text-decoration: none;
  color: #fffcfa;
}

.footer-copyright {
  font-family: Montserrat;
  font-size: 11px;
  font-weight: 400;
  line-height: 16.5px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

@media screen and (min-width: 1200px) {
  .footer {
    width: 1440px;
    margin: auto;
    padding: 40px 160px;
    display: flex;
    flex-direction: column;

    gap: 80px;
  }
  .footer-container-top {
    display: flex;
    flex-direction: column;

    font-family: Montserrat;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }
  .footer-container {
    display: flex;
    flex-direction: row;

    gap: 337px;
  }
  .footer-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: end;

    gap: 16px;
  }
  .footer-text {
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }

  .footer-copyright {
    font-family: Montserrat;
    font-size: 13px;
    font-weight: 400;
    line-height: 19.5px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }
}
.policy-terms-container {
  flex-direction: column;
  align-items: start;
  padding: 144px 16px 64px;
}
.policy-terms-text-title {
  font-family: Elsie;
  font-size: 32px;
  font-weight: 400;
  line-height: 41.6px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
.policy-terms-text-tops {
  padding-top: 30px;
  font-family: Montserrat;
  font-size: 22px;
  font-weight: 500;
  line-height: 28.6px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
.policy-terms-text-top {
  padding-top: 20px;
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  padding-top: 24px;
}
.policy-terms-texts {
  padding-top: 15px;

  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.terms-list {
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;

  padding: 0px 0 0 25px;
}
.terms-lists {
  padding-top: 15px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
.email-link {
  color: inherit;
  text-decoration: none;
}

@media screen and (min-width: 1200px) {
  .policy-terms-container {
    padding: 160px;
  }
  .policy-terms-text-title {
    font-family: Elsie;
    font-size: 40px;
    font-weight: 400;
    line-height: 52px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }
  .policy-terms-text-tops {
    padding-top: 35px;

    font-family: Montserrat;
    font-size: 24px;
    font-weight: 500;
    line-height: 31.2px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }
  .policy-terms-text-top {
    padding-top: 25px;

    font-family: Montserrat;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }
  .policy-terms-texts {
    padding-top: 20px;

    font-family: Montserrat;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }

  .terms-list {
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

    padding: 0px 0 0 25px;
  }
  .terms-lists {
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }
}

.cookie-popup {
  position: fixed;
  bottom: 10px;
  width: 343px;
  max-width: 1440px;
  padding: 32px;
  background: #573a2e;

  text-align: center;
  z-index: 1000;

  display: none;
}

.cookie-popup-text-two {
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;

  color: #ffffff;
}
.cookie-button-container {
  padding: 40px 0 0;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 16px;
}
.cookie-button {
  width: 256px;
  height: 59px;
  padding: 16px 32px 16px 32px;
  border-radius: 8px;
  border: 1px solid #a37764;
  background: transparent;

  font-family: Montserrat;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #a37764;
}

#accept-cookies {
  background: #a37764;

  color: #fffcfa;
}

.close-popup {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
}
@media screen and (min-width: 1200px) {
  .cookie-popup {
    position: fixed;
    bottom: 10px;
    width: 1262px;
    padding: 32px;
    display: none;
  }
  .cookie-popup-text-two {
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

    width: 622px;
  }
  .cookie-popup-container {
    display: flex;
    align-items: center;
  }
  .cookie-button-container {
    padding: 0;
    margin: auto;
    display: flex;
    align-items: start;
    justify-content: start;
    flex-direction: row;
    gap: 32px;
  }
}
